asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.5
Django==6.0.2
django-admin-honeypot==1.1.0
django-admin-thumbnails==1.0.0
django-session-timeout==0.1.0
idna==3.11
pillow==12.1.1
python-decouple==3.8
pytz==2025.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
